<div id="uiContainer" class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-home floatRight"></i>Houses of the Seven Kingdoms of Westeros</h3>
				</div>
				<ul class="list-group list-group-striped">
					<li class="list-group-item" ng-repeat="house in housesOfWesteros | startFrom : curPage*pageQty | limitTo:pageQty">
						<a ui-sref="houses.item({item:house.unid})" title="{{ house.unid }}">{{house.name}}</a>
						<a href="#" class="btn btn-danger pull-right" ng-really-message="Are you sure you want to delete this house from Westeros?"
						 ng-really-click="removeHouse(house.unid)"><i class="fa fa-lg fa-trash-o"></i></a>
						<br />{{house.words}}
					</li>
				</ul>
				<div class="panel-footer col-xs-12">
					<nav>
						<ul class="pager">
							<li class="previous" ng-class="{'disabled': curPage == 0}">
								<a ng-click="curPage = curPage - 1" href=""><span aria-hidden="true">&larr;</span> Previous</a>
							</li>
							<span ng-bind="(curPage+1) + '/' + numberOfPages()"></span>
							<li class="next" ng-class="{'disabled': curPage >= housesOfWesteros.length/pageQty-1}">
								<a ng-click="curPage = curPage + 1" href="">Next <span aria-hidden="true">&rarr;</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- single house content -->
		<div ui-view class="col-md-6 col-md-offset-2"></div>
	</div>
</div>